<div class="alert alert-success" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="exclamation-triangle"></cds-icon>
      </div>
      <span class="alert-text">
        <div><b>Notification: Incomplete Functionality in Graph View</b></div>
        <div>
          Please be informed that the Org Chart functionalities are not fully
          available in the Graph view at this time. To perform any necessary
          actions, kindly switch to the Grid view.
        </div>
        <div>Thank you for your understanding and cooperation.</div>
      </span>
    </div>
  </div>
</div>

<div
  #chartContainer
  id="orgChartContainer"
  style="width: 100%; height: 100%"
></div>
