<div
  class="alert alert-warning"
  role="alert"
  *ngIf="showNotificationForEmployeeUnavailability"
>
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <cds-icon class="alert-icon" shape="exclamation-triangle"></cds-icon>
      </div>
      <span class="alert-text">
        <div><b>Notification: Employee Unavailability</b></div>
        <div>
          The employee you have bookmarked is currently unavailable. Please
          bookmark the correct employee.
        </div>
      </span>
    </div>
  </div>
</div>

<div
  #chartContainer
  id="orgChartContainer"
  style="width: 100%; height: 100%"
></div>

<div *ngIf="!employeeList || employeeList?.length === 0">
  <p cds-text="body center" class="addNewEmpBtn">
    <button
      class="btn btn-primary"
      (click)="commonTemplatesActionsComponent.addFirstEmpployee()"
    >
      ADD FIRST EMPLOYEE
    </button>
  </p>
</div>

<app-common-templates-actions
  #commonTemplatesActions
  [employees]="employeeList"
></app-common-templates-actions>
