<div class="container">
  <ng-container *ngIf="employees && employees.length > 0; else addFirstEmp">
    <clr-datagrid>
      <clr-dg-column class="selectAll">
        <input
          type="checkbox"
          [indeterminate]="isIndeterminate"
          [checked]="isAllSelected"
          (change)="toggleSelectAll($event)"
          aria-label="Select All"
        />
      </clr-dg-column>
      <clr-dg-column style="width: 15px; min-width: 15px"></clr-dg-column>

      <clr-dg-column [clrDgField]="'name'">Employee Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'employeeId'">Employee ID</clr-dg-column>
      <clr-dg-column [clrDgField]="'designation'">Designation</clr-dg-column>
      <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
      <clr-dg-column [clrDgField]="'phoneNumber'">Phone</clr-dg-column>
      <clr-dg-column [clrDgField]="'manager'">Manager</clr-dg-column>

      <clr-dg-row *clrDgItems="let employee of employees">
        <!-- Checkbox Column -->
        <clr-dg-cell class="selectAll">
          <input
            type="checkbox"
            [checked]="employee.selected"
            (change)="onRowCheckboxChange(employee)"
          />
        </clr-dg-cell>

        <!-- Actions Column with Vertical Dots (Ellipsis) -->
        <clr-dg-cell class="actions-cell">
          <clr-dropdown>
            <button clrDropdownTrigger class="action-button">
              <cds-icon shape="ellipsis-vertical"></cds-icon>
            </button>

            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
              <!-- Action Items in Dropdown -->
              <button
                clrDropdownItem
                (click)="
                  commonTemplatesActionsComponent.openAddReporteeDialog(
                    employee
                  )
                "
              >
                Add Reportee
              </button>
              <button
                clrDropdownItem
                (click)="
                  commonTemplatesActionsComponent.openEditDialog(employee)
                "
              >
                Edit Details
              </button>
              <button
                clrDropdownItem
                (click)="
                  commonTemplatesActionsComponent.openDeleteDialog(employee)
                "
              >
                Delete Employee
              </button>
              <button
                clrDropdownItem
                (click)="
                  commonTemplatesActionsComponent.openChangeReportingLineDialog(
                    employee
                  )
                "
              >
                Change Reporting Line
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </clr-dg-cell>
        <!-- Employee Info Columns -->
        <clr-dg-cell>{{ employee.name }}</clr-dg-cell>
        <clr-dg-cell>{{ employee.employeeId }}</clr-dg-cell>
        <clr-dg-cell>{{
          designationMapping[employee.designation] || "Unknown"
        }}</clr-dg-cell>
        <clr-dg-cell>{{ employee.email }}</clr-dg-cell>
        <clr-dg-cell>{{ employee.phoneNumber }}</clr-dg-cell>
        <clr-dg-cell>{{ employee.managerName }}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </ng-container>
  <ng-template #addFirstEmp>
    <p cds-text="body center">
      <button
        class="btn btn-primary"
        (click)="commonTemplatesActionsComponent.addFirstEmpployee()"
      >
        ADD FIRST EMPLOYEE
      </button>
    </p>
  </ng-template>
</div>

<app-common-templates-actions
  #commonTemplatesActions
  [employees]="employees"
></app-common-templates-actions>
